<ion-header>
  <ion-toolbar>
    <ion-title>Add Customer</ion-title>
    <ion-buttons slot="primary">
      <ion-back-button text="Back" color="tertiary" fill="outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Name </ion-label>
    <ion-input type="text" [(ngModel)]="name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Age </ion-label>
    <ion-input type="text" [(ngModel)]="age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Salary </ion-label>
    <ion-textarea [(ngModel)]="salary"></ion-textarea>
  </ion-item>

  <ion-button expand="block" padding color="tertiary" (click)="createStudent()" fill="outline">Submit</ion-button>
</ion-content>