<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clasroom List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h1>{{ classrooms }}</h1> -->
  <li *ngFor="let item of classrooms">
    {{item.employee_name}}
  </li>
</ion-content>